body {
    background-color: #222;
    color: whitesmoke;
    text-align: center;
    direction: rtl;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

h1 {
    font-size: 1.5em;
}

button {
    cursor: pointer;
}

.game-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.game-container>button {
    background-color: #555;
    border: 20px solid #222;
    padding: .8em;
    font-size: 2em;
    border-radius: 50%;
    cursor: not-allowed;
    pointer-events: none;
}

.game-container.user-turn>button {
    cursor: pointer;
    pointer-events: unset;
}

.game-container>button:nth-child(1) {
    background-color: green;
}

.game-container>button:nth-child(2) {
    background-color: red;
}

.game-container>button:nth-child(3) {
    background-color: lightskyblue;
}

.game-container>button:nth-child(4) {
    background-color: yellow;
}

.game-container>button.pressed {
    border: 20px solid rgba(32, 33, 23, 0.5);
}

.broken {
    display: none;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 25%
}

.user-msg {
    opacity: 0;
    padding: .6em;
    transition: .5s;
}

.user-msg.show {
    opacity: 1;
    background-color: black;
}

.modal {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 1em 0;
    opacity: 0;
    width: 100vw;
    height: 80vh;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
    margin: 0;
}

.modal img {
    display: block;
    margin: auto;
    max-width: 80%;
}

.modal.show {
    opacity: 1;
    background-color: black;
    display: flex;
}

.modal button {
    margin-top: 1em;
    font-size: 1em;
    background-color: purple;
    border-radius: .2em;
    border: 0;
    padding: 1em 2em;
    transition: .5s;
}

.modal button:hover {
    scale: 1.1;
    color: white;
    background-color: rgb(82, 5, 82);
}